<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="/images/profile.jpeg">
        <p>this stie was created by harel</p>
        {{>footer}}       
    </body>
</html>